@font-face {
    font-family: "Cousine-Bold";
    src: url("../fonts/Cousine-Bold.ttf");
    font-style: normal;
    line-height: normal;
}

@font-face {
    font-family: "Cousine-BoldItalic";
    src: url("../fonts/Cousine-BoldItalic.ttf");
    font-style: normal;
    line-height: normal;
}

@font-face {
    font-family: "Cousine-Italic";
    src: url("../fonts/Cousine-Italic.ttf");
    font-style: normal;
    line-height: normal;
}

@font-face {
    font-family: "Cousine-Regular";
    src: url("../fonts/Cousine-Regular.ttf");
    font-style: normal;
    line-height: normal;
}

* {
    margin: 0;
    padding: 0;
}

.invisible_title_for_section {
    display: none;
}

.content-header {
    display: flex;
    margin-left: 295px;
    margin-right: auto;
    align-items: flex-end;
    gap: 20px;
}

.link-for-logo {
    text-decoration: none;
}

.store-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.store-logo-img {
    width: 400px;
}

.store-logo-text {
    color: #91b90a;
    font-family: "Cousine-Bold";
    font-size: 25px;
    font-weight: 700;
    line-height: normal;
    margin-left: 20px;
}
.all-link-for-menu {
    display: flex;
    gap: 25px;
}

.all-link-for-menu :first-child {
    color: #91b90a;
}

.all-link-for-menu :first-child:hover  {
    color: #000000;
}

.link-for-menu {
    text-decoration: none;

    color: #000000;
    font-family: "Cousine-Regular";
    font-size: 30px;
    font-weight: 400;
    line-height: normal;
    transition: 250ms;
}

.link-for-menu:hover {
    color: #91b90a;
}

.content-footer {
    display: flex;
    flex-direction: column;
    background-color: black;
}

.content-footer__text {
    color: #ffffff;
    font-family: "Cousine-Regular";
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
}

.content-footer {
    margin-top: 30px;
    height: 30px;
}

.content-footer__text {
    margin: auto;
}
