.personal_account_change_delivery_address {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.personal_account_change_delivery_address__title {
    color: #91b90a;
    font-family: "Cousine-Bold";
    font-size: 50px;
    font-weight: 700;
    line-height: normal;

    margin-top: 50px;

    width: 700px;
    text-align: center;
}

.personal_account_change_delivery_address__form {
    margin-top: 100px;

    color: #000000;
    font-family: "Cousine-Regular";
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
}

.personal_account_change_delivery_address__form__errors {
    color: red;
    font-family: "Cousine-Bold";
    font-size: 12px;
    font-weight: 700;
    line-height: normal;

    text-align: center;

    width: 310px;

    margin-top: 10px;
    margin-bottom: 25px;
}

:root {
    --form-width-text: 310px;
    --form-height-text: 25px;

    --font-family-text: "Cousine-Regular";
    --font-size-text: 12px;
    --font-weight-text: 400;
    --font-line-height: normal;

    --font-padding-left: 10px;
    --font-padding-right: 10px;

    --font-margin-bottom: 20px;
}

.personal_account_change_delivery_address__form #default_shipping_address {
    width: var(--form-width-text);
    height: 80px;

    font-family: var(--font-family-text);
    font-size: var(--font-size-text);
    font-weight: var(--font-weight-text);
    line-height: var(--font-line-height);

    padding-left: var(--font-padding-left);
    padding-right: var(--font-padding-right);
    padding-top: 10px;
    padding-bottom: 10px;

    margin-bottom: var(--font-margin-bottom);

    border: 1px solid #000000;
}

.personal_account_change_delivery_address__form__wrapper-for-button {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.personal_account_change_delivery_address__button {

    font-family: var(--font-family-text);
    font-size: var(--font-size-text);
    font-weight: var(--font-weight-text);
    line-height: var(--font-line-height);

    padding: 8px;

    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 5px;

    cursor: pointer;

    transition: 500ms;
}

.personal_account_change_delivery_address__button__link {
    color: initial;
    text-decoration: initial;
}

.personal_account_change_delivery_address__button:hover {
    color: white;
    background: #91b90a;
    border: 2px solid #91b90a;
}

.personal_account_change_delivery_address__flash-messages {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 350px;
}

.personal_account_change_delivery_address__flash-messages_error {
    color: red;
    font-family: "Cousine-Bold";
    font-size: 16px;
    font-weight: 700;
    line-height: normal;

    margin-top: 5px;
    margin-bottom: 5px;

    text-align: center;
}
