<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/pic/stores_favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/styles/style_for_basic_template.css') }}">
    {% block for_css %}{% endblock %}
    <title>{{ title_page }}</title>
</head>
<body>
<header>
    <div class="content-header">
        <a class="link-for-logo" href="{{ url_for('index') }}">
            <div class="store-logo">
                <img class="store-logo-img" id="logo" src="{{ url_for('static', filename='assets/pic/logo.jpg') }}" alt="Логотип службы доставки Фантазии Федора">
                 <p class="store-logo-text">
                     ДОСТАВКА
                 </p>
            </div>
        </a>

        <div class="all-link-for-menu">
            <a class="link-for-menu" href="{{ url_for('index') }}">
                Меню
            </a>
            <a class="link-for-menu" href="{{ url_for('terms_of_delivery') }}">
                Условия доставки
            </a>
            <a class="link-for-menu" href="{{ url_for('contacts') }}">
                Контакты
            </a>

            {% if not current_user.is_authenticated %}

                <a class="link-for-menu" href="{{ url_for('user_registration') }}">
                    Регистрация
                </a>

                <a class="link-for-menu" href="{{ url_for('log_in_account') }}">
                    Вход в ЛК
                </a>
            {% elif current_user.is_authenticated %}

                <a class="link-for-menu" href="{{ url_for('personal_account') }}">
                    Личный кабинет
                </a>

                <a class="link-for-menu" href="{{ url_for('log_out_personal_account') }}">
                    Выйти из ЛК
                </a>
            {% endif %}

            <a class="link-for-menu" href="{{ url_for('shopping_cart_user') }}">

                <div class="wrapper-shopping-cart-icon_header">

                    <img class="menu-for-index__shopping-cart-icon_header"
                         src="{{ url_for('static', filename='assets/pic/shopping_cart_icon_header.png') }}"
                         alt="иконка корзины покупок для заголовка">

                    {% if number_products_in_user_cart and current_user.is_authenticated %}

                        <p class="shopping-cart-icon_header__text">
                            {{ number_products_in_user_cart }}
                        </p>

                    {% endif %}

                </div>
                <p>
                    Корзина покупок
                </p>
            </a>
        </div>

    </div>

</header>
    {% block content %}{% endblock %}

    <footer>
        <div id="content-footer" class="content-footer">
            <p class="content-footer__text">
                © 2023 Фантазии федора
            </p>
        </div>
    </footer>

    {% block for_js %}{% endblock %}
</body>
</html>
