<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/styles/style_for_basic_template.css') }}">
    {% block css_for_index %}{% endblock %}
    <title>{{ title_page }}</title>
</head>
<body>
<header>
    <img src="{{ url_for('static', filename='assets/pic/logo.jpg') }}" alt="Логотип">
    <!--
    <img src="{{ url_for('static', filename='assets/pic/logo.png') }}" alt="Логотип">
    -->
</header>
    {% block content %}{% endblock %}
<footer>
    <p>Это футтер !</p>
</footer>
</body>
</html>
