{% extends 'basic_template.html' %}

{% block for_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/styles/style_for_index.css') }}">
{% endblock %}

{% block content %}
    <section>
        <h2 class="invisible_title_for_section">
            Меню готовой еды в службе доставки
        </h2>

        <div class="menu-and-content-for-index">

            <div class="menu-for-index">
                <dl class="menu-for-index__list">
                    <dt class="menu-for-index__heading">
                        <a href="#" class="menu-for-index__heading__link">
                            Меню
                        </a>
                    </dt>
                    <dd>
                        <a href="#logo">
                                <button class="menu-for-index__button">
                                    Вверх
                                </button>
                        </a>
                    </dd>
                    <dd>
                        <a href="#content-footer">
                                <button class="menu-for-index__button">
                                    Вниз
                                </button>
                        </a>
                    </dd>

                    {% for one_category_meal in all_categories_meal %}
                        <dd>
                            <a href="#display_order_category_{{ one_category_meal.display_order_category }}">
                                <button class="menu-for-index__button">
                                    {{ one_category_meal.category_meal_name }}
                                </button>
                            </a>
                        </dd>
                    {% endfor %}
                </dl>


                {% if number_products_in_user_cart and current_user.is_authenticated %}

                    <div class="wrapper-for-menu-for-index__shopping-cart-icon">

                        <div class="wrapper-for-shopping-cart-text">
                            <p class="menu-for-index__shopping-cart-text">
                                {{ number_products_in_user_cart }}
                            </p>
                        </div>

                        <a href="{{ url_for('shopping_cart_user') }}">
                             <img class="menu-for-index__shopping-cart-icon"
                             src="{{ url_for('static', filename='assets/pic/shopping_cart_icon.png') }}"
                             alt="иконка корзины покупок">
                        </a>

                        <p class="menu-for-index__shopping-cart-icon__signature">
                            Корзина покупок
                        </p>

                    </div>

                {% endif %}

            </div>

            <div class="content-for-index">

                {% for one_category_meal in all_categories_meal %}

                    <div class="wrapper-for-content-for-index__name-category">
                        <p class="content-for-index__name-category"
                            id="display_order_category_{{ one_category_meal.display_order_category }}">
                        {{ one_category_meal.information_about_meals[0].category_meal_name }}
                        </p>
                    </div>

                    <div class="content-for-index__grid_for_product_card">

                        {% for one_meal in one_category_meal.information_about_meals %}

                            <div id="meal_{{ one_meal.id }}" class="content-for-index__product_card">

                                <img class="content-for-index__product_card__img"
                                {% if one_meal.file_path_image %}
                                     src="{{ url_for('media', filename=one_meal.file_path_image) }}"
                                {% elif not one_meal.file_path_image %}
                                     src="{{ url_for('static', filename='assets/pic/no_picture_food.png') }}"
                                {% endif %}
                                     alt="{{ one_meal.title }}">

                                <p class="content-for-index__product_card__title">
                                    {{ one_meal.title }}
                                </p>

                                {% if one_meal.description %}
                                <p class="content-for-index__product_card__description">
                                    {{ one_meal.description }}
                                </p>
                                {% endif %}

                                <div class="content-for-index__product_card__text_parameters">
                                    <p class="content-for-index__product_card__title_parameters">
                                        {% if one_meal.proteins and one_meal.fats and one_meal.carbohydrates and one_meal.calories %}
                                            <span>
                                                В 100 г продукта содержится:
                                            </span>
                                        {% endif %}
                                    </p>
                                    {% if one_meal.proteins %}
                                        {% if one_meal.proteins|int == one_meal.proteins %}
                                        <p>Белки: {{ one_meal.proteins|int }}</p>
                                        {% else %}
                                        <p>Белки: {{ one_meal.proteins }}</p>
                                        {% endif %}
                                    {% endif %}

                                    {% if one_meal.fats %}
                                        {% if one_meal.fats|int == one_meal.fats %}
                                        <p>Жиры: {{ one_meal.proteins|int }}</p>
                                        {% else %}
                                        <p>Жиры: {{ one_meal.fats }}</p>
                                        {% endif %}
                                    {% endif %}

                                    {% if one_meal.carbohydrates %}
                                        {% if one_meal.carbohydrates|int == one_meal.carbohydrates %}
                                        <p>Углеводы: {{ one_meal.carbohydrates|int }}</p>
                                        {% else %}
                                        <p>Углеводы: {{ one_meal.carbohydrates }}</p>
                                        {% endif %}
                                    {% endif %}

                                    {% if one_meal.calories %}
                                        {% if one_meal.calories|int == one_meal.calories %}
                                        <p>{{ one_meal.calories|int }} ккал</p>
                                        {% else %}
                                        <p>{{ one_meal.calories }} ккал</p>
                                        {% endif %}
                                    {% endif %}
                                </div>

                                <div class="content-for-index__product_card__weight_and_cost">
                                    <p> {{ one_meal.weight }} </p>
                                    {% if one_meal.cost|int == one_meal.cost %}
                                        <p>{{ one_meal.cost|int }} ₽</p>
                                        {% else %}
                                        <p>{{ one_meal.cost }} ₽</p>
                                    {% endif %}
                                </div>

                                {% if current_user.is_authenticated %}

                                    {% if (not session.get('user_cart')) or (not session.get('user_cart').get(one_meal.id|string)) %}

                                        <div class="wrapper-for-button_for_cart">
                                            <a class="button_for_cart__link"
                                                    href="{{ url_for('add_one_thing_shopping_cart', where_return='index', id_meal=one_meal.id) }}">
                                                <button class="button_for_cart__button">
                                                    Купить
                                                </button>
                                            </a>
                                        </div>

                                    {% elif session.get('user_cart').get(one_meal.id|string) %}

                                        <div class="wrapper-for-button_for_cart">

                                            <a class="button_for_cart__link"
                                                    href="{{ url_for('subtract_one_thing_shopping_cart', where_return='index', id_meal=one_meal.id) }}">
                                                <button class="button_for_cart__button">
                                                    -
                                                </button>
                                            </a>

                                            <button class="button_for_cart__button_quantity">
                                                {{ session.get('user_cart').get(one_meal.id|string) }}
                                            </button>

                                            <a class="button_for_cart__link"
                                                    href="{{ url_for('add_one_thing_shopping_cart', where_return='index', id_meal=one_meal.id) }}">
                                                <button class="button_for_cart__button">
                                                    +
                                                </button>
                                            </a>

                                        </div>

                                    {% endif %}

                                {% elif not current_user.is_authenticated %}

                                    <div class="wrapper-for-button_for_cart">
                                        <a class="button_for_cart__link"
                                           href="{{ url_for('add_one_thing_shopping_cart', where_return='index', id_meal=one_meal.id) }}">
                                                <button class="button_for_cart__button">
                                                    Купить
                                                </button>
                                        </a>
                                    </div>

                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
