{% extends 'basic_template.html' %}

{% block content %}
<section>
    <div class="menu-for-index">
    <dl>
        <dt>Меню</dt>
        {% for one_category_meal in all_categories_meal %}
            <dd><a href="{{ one_category_meal.display_order_category }}">{{ one_category_meal.category_meal_name }}</a></dd>
        {% endfor %}
    </dl>
    </div>

    <div class="content-for-index">

        {% for one_category_meal in all_categories_meal %}
            {% for one_meal in one_category_meal.information_about_meals %}
                <p> {{ one_meal.title }} </p>
            {% endfor %}
        {% endfor %}

    </div>
</section>

{% endblock %}
