<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/styles/style_for_mistake_404.css') }}">
    <title>{{ title_page }}</title>
</head>
<body>
<section>
    <div class="wrapper_content-for-mistake_404">
        <img class="content-for-mistake_404__img"
         src="{{ url_for('static', filename='assets/pic/mistake_404.jpg') }}"
         alt="Ошибка 404">
    </div>
</section>


</body>
</html>
