<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/styles/style_for_mistake_500.css') }}">
    <title>{{ title_page }}</title>
</head>
<body>
<section>
    <div class="wrapper_content-for-mistake-500">
        <div class="wrapper_content-for-mistake-500__title">
            <p>
                Ошибка 500
            </p>
        </div>
        <div class="wrapper_content-for-mistake-500__description">
            <p>
                Сервер упал и не может подняться (проблемы на нашей стороне).
            </p>
        </div>
    </div>
</section>


</body>
</html>
