<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/styles/style_for_mistake_404.css') }}">
    <title>{{ title_page }}</title>
</head>
<body>
<section>
    <div class="wrapper_content-for-mistake-404">
        <div class="wrapper_content-for-mistake-404__title">
            <p>
                Ошибка 404
            </p>
        </div>
        <div class="wrapper_content-for-mistake-404__description">
            <p>
                Сервер не может найти страницу.
            </p>
        </div>
    </div>
</section>


</body>
</html>
