{% extends 'basic_template.html' %}

{% block for_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/styles/style_for_personal_account.css') }}">
{% endblock %}

{% block content %}

    <section>

        <div class="content-for-personal-account">

            <h2 class="content-for-personal-account__title">
                Личный кабинет
            </h2>

                <p class="content-for-personal-account__circle-image">


                    <img class="content-for-personal-account__image"
                     {% if not current_user.path_photo %}
                         src="{{ url_for('static', filename='assets/pic/if_no_photo.png') }}"
                     {% elif current_user.path_photo %}
                         src="{{ url_for('user_photos', filename=current_user.path_photo) }}"
                     {% endif %}
                         alt="Фотография {{ current_user.name }}">
                </p>

                <div class="wrapper-image-form_content-for-personal-account__set-user-photo">

                    <form class="content-for-personal-account__set-user-photo" method="post" enctype="multipart/form-data" action="{{ url_for('personal_account') }}">
                        <input class="content-for-personal-account__set-user-photo__download_file" name="file" type="file" id="upload-photo">
                        <input class="content-for-personal-account__set-user-photo__download_button" type="submit" value="Загрузить">
                    </form>

                    {% if current_user.path_photo %}

                    <form method="post" action="{{ url_for('personal_account') }}">
                        <input type="hidden" name="user_photo_to_delete" value="{{ current_user.path_photo }}">
                        <input class="content-for-personal-account__delete-photo" type="submit" value="Удалить фотографию">
                    </form>

                    {% endif %}

                </div>

            <div class="content-for-personal-account__user-information">
                <div class="content-for-personal-account__personal-information">
                    <p class="content-for-personal-account__user-information__section__header">
                        Личная информация
                    </p>
                    <p> Имя: {{ current_user.name }} </p>
                    <p> Фамилия: {{ current_user.surname }} </p>

                    {% if current_user.patronymic %}
                        <p> Отчество: {{ current_user.patronymic }} </p>
                    {% endif %}

                    <p> Дата рождения: {{ date_birth }} </p>
                    <div class="wrapper_for_edit_button">
                        <a class="content-for-personal-account__edit_button__link"
                           href="{{ url_for('personal_account_change_personal_data') }}">
                            <button class="content-for-personal-account__edit_button">
                                    Изменить
                            </button>
                        </a>
                    </div>
                </div>
                <div class="content-for-personal-account__сontact-information">
                    <p class="content-for-personal-account__user-information__section__header">
                        Контактные данные
                    </p>
                    <p> Телефон: {{ current_user.telephone }} </p>
                    <p> Электронная почта: </p>
                    <p> {{ current_user.email }} </p>
                </div>
                <div class="content-for-personal-account__delivery-address">
                    <p class="content-for-personal-account__user-information__section__header">
                         Адрес доставки по умолчанию
                    </p>
                    <br>
                    <p> {{ current_user.default_shipping_address }} </p>
                    <div class="wrapper_for_edit_button">
                        <a class="content-for-personal-account__edit_button__link"
                           href="{{ url_for('personal_account_change_delivery_address') }}">
                            <button class="content-for-personal-account__edit_button">
                                    Изменить
                            </button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="content-for-personal-account__delivery-password__order-history">

                <div class="wrapper_for_edit_button">
                    <a class="content-for-personal-account__edit_button__link"
                       href="{{ url_for('personal_account_change_password') }}">
                        <button class="content-for-personal-account__edit_button">
                            Изменить Пароль
                        </button>
                    </a>
                </div>

                <form method="post" action="{{ url_for('personal_account') }}">
                    <input type="hidden" name="order_history_user" value="order_history_user_{{ current_user.id }}">
                    <input class="content-for-personal-account__order_history_user" type="submit" value="История заказов">
                </form>

            </div>

            {% if all_orders_user %}

                <div class="wrapper_personal-accoun__table_all_orders_user">

                    <table class="personal-accoun__table_all_orders_user">
                        <tr>
                            <th>
                                <p class="personal-accoun__table_all_orders_user__text_title">
                                    Дата и время создания заказа
                                </p>
                            </th>
                            <th>
                                <p class="personal-accoun__table_all_orders_user__text_title">
                                    Дата и время доставки
                                </p>
                            </th>
                            <th>
                                <p class="personal-accoun__table_all_orders_user__text_title">
                                    Статус оплаты
                                </p>
                            </th>
                            <th>
                                <p class="personal-accoun__table_all_orders_user__text_title">
                                    Статус доставки
                                </p>
                            </th>
                            <th>
                                <p class="personal-accoun__table_all_orders_user__text_title">
                                    Полная стоимость
                                </p>
                            </th>
                            <th>
                                <p class="personal-accoun__table_all_orders_user__text_title">
                                    Состав заказа
                                </p>
                            </th>
                        </tr>

                    {% for order in all_orders_user %}

                        <tr>
                            <td>{{ order.date_and_time_order_creation }}</td>
                            <td>{{ order.date_and_time_delivery }}</td>
                            <td>
                                {% if order.payment_status %}
                                    <p>Оплачен</p>
                                {% else %}
                                    <p>Не оплачен</p>
                                {% endif %}
                            </td>
                            <td>
                                {% if order.delivery_status %}
                                    <p>Доставлен</p>
                                {% else %}
                                    <p>Не доставлен</p>
                                {% endif %}
                            </td>
                            <td>
                                {% if order.total_cost|int == order.total_cost %}
                                    <p>{{ order.total_cost|int }} ₽</p>
                                {% else %}
                                    <p>{{ order.total_cost }} ₽</p>
                                {% endif %}
                            </td>
                            <td>
                                {% for meal in order.list_meal %}
                                    <p>
                                        {{ meal.title }} -
                                            {% if meal.cost|int == meal.cost %}
                                                {{ meal.cost|int }} ₽
                                            {% else %}
                                                {{ meal.cost }} ₽
                                            {% endif %} -
                                        {{ meal.quantity }} штук.
                                    </p>
                                {% endfor %}
                            </td>
                        </tr>

                    {% endfor %}

                    </table>

                </div>

            {% endif %}

        </div>
    </section>
{% endblock %}
