{% extends 'basic_template.html' %}

{% block for_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/styles/style_for_personal_account_change_password.css') }}">
{% endblock %}

{% block for_js %}
    <script src="{{ url_for('static', filename='assets/js/required_and_optional_fields_form.js') }}"></script>
{% endblock %}

{% block content %}

    <section class="style_for_personal_account_change_password">

        <h2 class="style_for_personal_account_change_password__title">
            Личный кабинет: изминение пароля
        </h2>

        <form id="form-for-user" class="style_for_personal_account_change_password__form" action="{{ url_for('personal_account_change_password') }}" method="post">

            {{ form.csrf_token }}

            {% for field in form if field.name != 'csrf_token' %}

                <p>
                    {{ field.label }}
                    <br>
                    {{ field }}

                        {% if field.errors %}
                            {% for error in field.errors %}
                                <p class="style_for_personal_account_change_password__form__errors">
                                    {{ error }}
                                </p>
                            {% endfor %}
                        {% endif %}
                </p>
            {% endfor %}

            <div class="style_for_personal_account_change_password__wrapper-for-button" >
                <a class="style_for_personal_account_change_password__button__link"
                   href="{{ url_for('personal_account') }}">
                    <div class="style_for_personal_account_change_password__button">
                        Назад
                    </div>
                </a>

                <input class="style_for_personal_account_change_password__button" type="submit" value="Изменить">
            </div>
        </form>

        {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <dl class="style_for_personal_account_change_password__flash-messages">
                    {% for category, message in messages %}
                        <dd class="style_for_personal_account_change_password__flash-messages_{{ category }}">{{ message }}</dd>
                    {% endfor %}
                    </dl>
                {% endif %}
        {% endwith %}

    </section>

{% endblock %}
