{% extends 'basic_template.html' %}

{% block for_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/styles/style_for_personal_account.css') }}">
{% endblock %}

{% block content %}
    <ul>
        <li> {{ current_user.name }} </li>
        <li> {{ current_user.surname }} </li>
        <li> {{ current_user.patronymic }} </li>
        <li> {{ current_user.date_birth }} </li>
        <li> {{ current_user.telephone }} </li>
        <li> {{ current_user.email }} </li>
        <li> {{ current_user.default_shipping_address }} </li>
    </ul>

<p><a href="{{ url_for('log_out_personal_account') }}">Logout</a></p>
{% endblock %}
