{% extends 'basic_template.html' %}

{% block for_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/styles/style_for_personal_account.css') }}">
{% endblock %}

{% block content %}

    <section>
        <div class="content-for-personal-account">

                <p class="content-for-personal-account__circle-image">

                    <img class="content-for-personal-account__image"
                     {% if not current_user.path_photo %}
                         src="{{ url_for('static', filename='assets/pic/if_no_photo.png') }}"
                     {% elif current_user.path_photo %}
                         src="{{ url_for('user_photos', filename=current_user.path_photo) }}"
                     {% endif %}
                         alt="Фотография {{ current_user.name }}">
                </p>

                <div class="wrapper-image-form_content-for-personal-account__set-user-photo">

                    <form class="content-for-personal-account__set-user-photo" method="post" enctype="multipart/form-data" action="{{ url_for('personal_account') }}">
                        <input class="content-for-personal-account__set-user-photo__download_file" name="file" type="file" id="upload-photo">
                        <input class="content-for-personal-account__set-user-photo__download_button" type="submit" value="Загрузить">
                    </form>

                    {% if current_user.path_photo %}

                    <form method="post" action="{{ url_for('personal_account') }}">
                        <input type="hidden" name="user_photo_to_delete" value="{{ current_user.path_photo }}">
                        <input class="content-for-personal-account__delete-photo" type="submit" value="Удалить фотографию">
                    </form>

                    {% endif %}

                </div>

            <div class="content-for-personal-account__user-information">
                <div class="content-for-personal-account__personal-information">
                    <p class="content-for-personal-account__user-information__section__header">
                        Личная информация
                    </p>
                    <p> Имя: {{ current_user.name }} </p>
                    <p> Фамилия: {{ current_user.surname }} </p>

                    {% if current_user.patronymic %}
                        <p> Отчество: {{ current_user.patronymic }} </p>
                    {% endif %}

                    <p> Дата рождения: {{ date_birth }} </p>
                </div>
                <div class="content-for-personal-account__сontact-information">
                    <p class="content-for-personal-account__user-information__section__header">
                        Контактные данные
                    </p>
                    <p> Телефон: {{ current_user.telephone }} </p>
                    <p> Электронная почта: </p>
                    <p> {{ current_user.email }} </p>
                </div>
                <div class="content-for-personal-account__delivery-address">
                    <p class="content-for-personal-account__user-information__section__header">
                         Адрес доставки по умолчанию
                    </p>
                    <br>
                    <p> {{ current_user.default_shipping_address }} </p>
                </div>
            </div>

        </div>
    </section>
{% endblock %}
