{% extends 'basic_template.html' %}

{% block for_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/styles/style_for_terms_of_delivery.css') }}">
{% endblock %}

{% block content %}
<section>

    <h2>
        Условия и время доставки
    </h2>

    Прием заказов на текущий день осуществляется с 8:00 до 16:45.
    Доставка заказов на текущий день - с 12:00 до 18:00.
    Заказы на другой день принимаются с 15:00 до 17:00.
    Стоимость доставки — 100 ₽ (при заказе от 600 ₽ — доставка осуществляется бесплатно).
    Заказы комплексных обедов на субботу и воскресенье принимаются не позже пятницы.
    При отправке заказа на e-mail необходимо уточнить детали заказа: адрес доставки, контакт для связи, необходимое время доставки, количество столовых приборов.
    Продукция является свежеприготовленной. Срок годности: не более 3 часов, при t +2+6 °С.
    Внимание!
    При нахождении заказа на этапе сборки изменения или дополнения к нему мы принять не сможем.
    Компания оставляет за собой право отказать Клиенту в формировании заказа и/или доставки еды без объяснения причин (при возникновении конфликтных ситуаций, либо иных действий (провокаций) со стороны Клиента).

</section>

{% endblock %}
